{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- $align := "" -}}
{{- $class := "post-body-img" -}}
{{- with .Title -}}
  {{- if eq . "left" -}}
    {{- $align = "img-left" -}}
  {{- else if eq . "right" -}}
    {{- $align = "img-right" -}}
  {{- end -}}
{{- end -}}
{{- if $img -}}
  <div class="{{ $class }} {{ $align }}">
  {{- partial "responsive-image.html" (dict "img" $img "class" "post-inline-img" "alt" .Text) -}}
  </div>
{{- else -}}
  <div class="{{ $class }} {{ $align }}">
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" class="post-inline-img">
  </div>
{{- end -}}
