{{ define "main" }}
<div class="content-box">
    <h2>thoughts</h2>
    <div id="post-list">
        {{ range .Pages.ByDate.Reverse }}
        <a href="{{ .Permalink }}" class="post-list-item{{ if eq (.Params.style | default "article") "note" }} post-type-note{{ end }}">
            <div class="post-list-date">{{ .Date.Format "jan 2, 2006" }}</div>
            <div class="post-list-title">{{ .Title }}</div>
            {{ with .Params.excerpt }}
            <div class="post-list-excerpt">{{ . }}</div>
            {{ end }}
        </a>
        {{ end }}
    </div>
</div>
{{ end }}
